/* __HEADER__ (shane)*/

/* This will remove dropdown icon from the profile img btn (shane)*/
.dropdown-toggle::after{
    display: none;
}
/* This will remove the user role from the profile img btn (shane)*/
.userloggedinas .usermenu .usertext, .userswitchedrole .usermenu .usertext, .loginfailures .usermenu .usertext{
    display: none !important;
}
/* This will fix the change in color error that occurs when you close the popup using the x button (shane)*/
.edw-icon-Comment-03:before {
    color: #3b3b3b !important;
    }

/* ____________________ */
/* __MAIN__ (shane)*/

/* set min-height to content (shane) */
#page{
    min-height: 92vh;
}
/* page headings (shane)*/
.page-context-header{
  margin-top: -4vh;
}
.edw-stats-wrapper{
  margin-top: -3vh;
}
/* dashboard bubble section displaying active, completed, due and enrolled courses(shane) */
/* .edw-stats-wrapper{
  display:none;
  } */
/* my courses overview (shane)*/
.block_myoverview .paged-content-page-container {
max-height: 50vh;
  overflow-y: scroll;
  }


  /*Reduces the size of the images on courses (Tristan)*/
.dashboard-card .edw-course-img-wrapper.dashboard-card-img{
height: 150px;
}
/*Reduces the size of the images on courses (Tristan)*/
.dashboard-card .edw-course-img-wrapper.dashboard-card-img{
height: 150px;
}
/*Removes the alert for license activation (Tristan)*/
.alert.text-center.license-notice.alert-dismissible.site-announcement.mb-0.alert-danger {
    display: none;
}


/* rounded corners on timelineblock(Joshua)  */
.block-region:not([data-blockregion="side-pre"]) .block .edw-block-body {
   border-radius:10px !important;
 box-shadow:none !important;
}
/* remove your site is not registered error(Joshua)  */
.alert-danger,.environmenttable .error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    display:none;
}
/* center logo on login screen(Joshua)  */
.navbar-brand-logo {
    margin-left: auto !important;
  margin-right: auto!important;
}
/* remove dashboard text from dashboard(Joshua)  */
#page-header .dashboard-bar-wrapper .page-header-headings .header-heading {
    display:none;
}
/* reduce extra space on dashboard(Joshua)  */
#page.drawers {
    margin-top: 15px;
}
/*rounded corners course menu(Joshua)  */
.courseindex .courseindex-section{
  border:none !important;
  }
/* Removed summary text (Joshua) */
body#page-course-view-remuiformat .course-content .sections #section-0 .general-section .section-details .coursedetails .details .section-activities-summary {
display:none;
}
/* Removed course category (2023) (Joshua) */
body#page-course-view-remuiformat header.hasbackground.design-1 .header-main-section .category .badge {
display:none;
}


/* course info(shane) */
body#page-course-view-remuiformat .course-content .sections #section-0 .general-section .section-details .coursedetails .details .activities-title{
  display: none;
}
/* course drop down(shane) */
body#page-course-view-remuiformat .contentwithoutlink, body#page-course-view-remuiformat .contentafterlink{
  max-height: none !important;
}
/* remove view layout of cards(shane) */
.block-myoverview [data-region="filter"] .all-filter-wrapper .nav-display-selector-wrapper .nav-display-selector .nav {
  display: none;
}
/* remove search bar (shane) */
.block-myoverview [data-region="filter"] .all-filter-wrapper .nav-search-sort-selector .edw-search-form-wrapper .input-group-prepend {
  display: none !important;
}


/* ____________________ */
/* __FOOTER__ (shane)*/

/* remove Hr line from footer(Joshua)  */
#page-footer .footer-container hr {
    display: none!Important;
}

/* ____________________ */
/*___BUTTONS__ (shane)*/

/* hide outline after a btn is clicked (shane) */
    button:active {
        outline: none;
    }

    /* read more btn(shane) */
    a#readmorebtn {
      display: none;
  }

/* __LOGIN__ (shane)*/

/* bg img (shane)*/
.pagelayout-login #page {
  background-position: bottom !important;
}

  .main-area-bg.pagelayout-login .login-container .logo-area {
    background: transparent;
    background-color: rgba(255, 255, 255, 0.378);
}
/* remove scroll (shane) */
.pagelayout-login #page div[role="main"] {
  max-height: fit-content !important;
  height: fit-content !important;
}
.main-area-bg.pagelayout-login .login-container {
  padding-bottom: 0px !important;
  padding-top: 20vh !important;
  overflow: hidden !important;
}
.login-wrapper {
  overflow: hidden;
}
@media only screen and (max-width: 767.5px){
  .main-area-bg.pagelayout-login .login-container {
    padding-bottom: 0px !important;
    padding-top: -3vh !important;
    overflow: hidden !important;
  }
}
/* forget password(shane) */
.small-info-regular, .filemanager~p, .filemanager~p+.form-filetypes-descriptions, .filemanager .fp-info .fp-fileinfo div, #page-header #page-navbar nav ol.breadcrumb .breadcrumb-item, .message-app .view-conversation .content-message-container [data-region="day-messages-container"] .send [data-region="text-container"] p, .message-app .view-conversation .content-message-container [data-region="day-messages-container"] .received [data-region="text-container"] p, .small-info-semibold, .popover-region .content-item-container.notification .content-item-footer, .filemanager~p+.form-filetypes-descriptions small, #block-region-side-pre .block-content-area .table-wrapper .calendartable.calendarmonth th span.h-semibold-5, .edw-msg-panel-badge {
  font-size: .75rem;
  display: none;
}

/* disclaimer (shane) */
.disclaimer {
  color: #800000 !important;
}
h3.disclaimer-heading.justify-content-center.text-center.pt-1 {
  color: #800000 !important;
}
.main-area-bg.pagelayout-login .login-container {
  overflow-y: hidden;
}
.login-welcome-wrapper.d-flex.flex-column.flex-gap-1.text-center {
   padding-top: 20px; 
}


/* loader (shane) */
body#page-theme-remui-customizer #customizer .customizer-overlay img{
 content: url("https://i.postimg.cc/W4Mt2P03/1-Cs-J05-WEGfun-YMLGfs-T2s-XA.gif") !important; 
 height: 100vh;
 width: 100vh;
}

/* loader (shane) */
body#page-theme-remui-customizer #customizer .customizer-overlay img {
  content: none !important;
  background-image: url("https://i.postimg.cc/W4Mt2P03/1-Cs-J05-WEGfun-YMLGfs-T2s-XA.gif") !important;
}




  /* ____________________ */
/* __NAV__ (shane)*/

/* course drop down content from toggle btn(shane) */
.nav-tabs .dropdown-menu {
  border-radius: 10px;
}

/* hide from nav mobile view (shane)*/
@media only screen and (max-width: 1023.5px){
  /* categories */
    a#drop-down-catselector-menu {
      display: none !important;
    }
  /* home */
  a.list-group-item.list-group-item-action[href^="https://moodle.cloudza.tech/?redirect=0"] {
    display: none !important;
 }
  /* my courses */
  a.list-group-item.list-group-item-action[href^="https://moodle.cloudza.tech/my/courses.php"] {
    display: none !important;
 }
  /* recent */
  a#drop-down- {
    display: none !important;
  }
}



/*___LOADER CSS__ (shane)*/
    @-webkit-keyframes follow-the-leader {
        0% {
          -webkit-transform: rotate(0deg) translateY(-200%);
          transform: rotate(0deg) translateY(-200%);
        }
        60%,
        100% {
          -webkit-transform: rotate(360deg) translateY(-200%);
          transform: rotate(360deg) translateY(-200%);
        }
      }
      @keyframes follow-the-leader {
        0% {
          -webkit-transform: rotate(0deg) translateY(-200%);
          transform: rotate(0deg) translateY(-200%);
        }
      
        60%,
        100% {
          -webkit-transform: rotate(360deg) translateY(-200%);
          transform: rotate(360deg) translateY(-200%);
        }
      }   
      .follow-the-leader-line {
        height: 14px;
        position: relative;
        width: 14px;
        position: absolute;
        left: 50%;
        top: 50%;
      }
      /* turns all divs into circles (shane)*/
      .follow-the-leader-line div {
        -webkit-animation: follow-the-leader 1.25s infinite backwards;
        animation: follow-the-leader 1.25s infinite backwards;
        background-color: black;
        border-radius: 100%;
        height: 100%;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
      } 
      /* circle 1 (shane)*/
      .follow-the-leader-line div:nth-child(1) {
        -webkit-animation-delay: 0.15s;
        animation-delay: 0.15s;
        background-color: #800000;
      }
         /* circle 2 (shane)*/
      .follow-the-leader-line div:nth-child(2) {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
        background-color: #ac1919;
      }
         /* circle 3 (shane)*/
      .follow-the-leader-line div:nth-child(3) {
        -webkit-animation-delay: 0.45s;
        animation-delay: 0.45s;
        
        background-color: #af934d;
      }
         /* circle 4 (shane)*/
      .follow-the-leader-line div:nth-child(4) {
        -webkit-animation-delay: 0.6s;
        animation-delay: 0.6s;
        background-color: #c9a23f;
      }
         /* circle 5 (shane)*/
      .follow-the-leader-line div:nth-child(5) {
        -webkit-animation-delay: 0.75s;
        animation-delay: 0.75s;
        background-color: #c9923f;
      }
      